<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="1.5.2.14234" oldVersion="0.0.0.0-1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>