<!DOCTYPE html>
<html>
	<head>
		<title>MVC-ModelMetadata-Iterator</title>
		@Styles.Render("~/Style-bundle")
	</head>
	<body>
		<h1>MVC-ModelMetadata-Iterator</h1>
		@RenderSection("MainContent", true)
		@Scripts.Render("~/Script-bundle")
	</body>
</html>